################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Log-in e senha/.vs/Log-in e senha/FileContentIndex/ecedbc34-13f8-4f90-b157-2f8f894b94c8.vsidx
/Log-in e senha/.vs/Log-in e senha/FileContentIndex/765de909-e641-44a3-b00e-c54f23cb759d.vsidx
/Log-in e senha/.vs/Log-in e senha/FileContentIndex/aa3dcc6e-8795-4e72-afbc-39ab54b155a9.vsidx
/Log-in e senha/.vs/Log-in e senha/FileContentIndex/ba8100f4-7663-48cd-a088-7a67045eefcd.vsidx
/Log-in e senha/.vs/Log-in e senha/FileContentIndex/e21c754f-29f2-4357-ada8-012db399cb0f.vsidx
/Log-in e senha/.vs/Log-in e senha/FileContentIndex/e6ebac7c-00c3-4fa6-9115-2c641c37b537.vsidx
